body{
    text-align: center;
}

.div {
    margin: auto;
    width: 20%;
}

.flex{
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
}